@font-face {
    font-family: 'Phantom Sans';
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff')
    format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2')
    format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Phantom Sans';
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff')
    format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2')
    format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Phantom Sans';
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff')
    format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2')
    format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body{
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #e0e6ed;
    font-family: "Phantom Sans", sans-serif;
}

#header{
    width: 100%;
    background-color: #333333;
    color: white;
    padding: 1.2rem 0 1.2rem 0;
}
#parliament-logo-header{
    width: 13rem;
}

#body-header{
    color: #333333;
    font-size: 2.75rem;
}
#body{
    text-align: left;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}
#body-subheader{
    color: #444444;
    margin-left: 0.5rem;
    margin-top: -1rem;
}

.container{
    border: 1px solid #777;
    border-radius: 5px;
    padding: 1rem 2rem 1.2rem 2rem;
}

input{
    all: unset;
    background-color: white;
    margin-left: 1rem;
    height: 1.5rem;
    padding: 0.2rem 0.75rem;
    font-family: monospace;
    margin-top: 0.5rem;
}

label{
    margin-left: 1rem;
}

hr{
    border: none;
    height: 1px;
    background-color: #777777;
    margin: 3rem 2rem;
}